@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  font-family: "Oxygen", sans-serif;
  font-family: "Poppins", sans-serif;
  transition: all 0.75s ease;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/trc\ 2.png);
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}
section{
  width:100%;
  height: 38.6vh;
  background-size: cover;

}

section .leftBox{
  width:50%;
  height:100%;
  float:left;
  padding: 0px;
  box-sizing:border-box;
}
section .leftBox .content1{
  color: #fff;
  background:rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: 0.5s;
}
section .leftBox .content1:hover{
  background: #e91e63;
}
section .leftBox .content1 h1{
  margin: 0;
  padding: 0;
  font-size: 35px;
  text-transform: uppercase;
}
section .leftBox .content1 p{
  margin: 10px 0 0;
  padding: 0;
}
section .events1 {
  position: relative;
  width: 50%;
  height: 96.5%;
  padding: 50px;
  background: rgba(0,0,0,.5);
  float: right;
  box-sizing: border-box;
}
section .events1 ul{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
}
section .events1 ul li{
  list-style:none;
  background: #fff;
  box-sizing: border-box;
  height: 200px;
  /*margin: 15px 0;*/

}
section .events1 ul li .time1{
  position: relative;
  padding: 20px;
  background: #262626;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: .5s;
  

}
section .events1 ul li:hover .time1{
  background: #e91e63;
}
section .events1 ul li .time1 h2{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 60px;
  line-height: 30px;
}
section .events1 ul li .time1 h2 span{
  font-size: 40px;
}
section .events1 ul li .details1{
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
}
section .events1 ul li .details1 h3{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
}
section .events1 ul li .details1 p{
  position: relative;
  margin: 10px 0 0;
  padding: 0;
  font-size: 11px;
}
section .events1 ul li .details1 button{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #000000;
  margin-top: 0;
  font-size: 18px;
  transition: .5s;
  float: right;
  border-radius: 5px;
}
section .events1 ul li .details1 button:hover{
  background: #e91e63;
  color: rgb(255, 255, 255);
  border-color: #e91e63;

}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #5f5f5f;
}

html::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 5rem;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 86px;
  height: 86px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}
.nav-links ul li a {
  font-size: 14px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: crimson;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.textbox {
  width: 50%;
  position: absolute;
  text-align: center;
  top: 40%;
  left: 25%;
  transform: translate(-50% -50%);
}
.textbox h1 {
  font-size: 44px;
}
.textbox p {
  margin: 16px 0 40px;
  font-size: 18px;
}
nav .fa {
  display: none;
}
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.course h1 {
  font-weight: bold;
  font-size: 35px;
}
.course p {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.course .npm {
  color: #777;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  font-weight: bold;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-column {
  flex-basis: 45%;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  background: crimson;
  transition: 0.25s;
  aspect-ratio: 3/2;
  font-size: large;
}
h3 {
  font-weight: bold;
  margin: 10px 0;
}
.course-column:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 700px) {
  .textbox h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links ul li a {
    color: black;
  }
  .nav-links {
    position: absolute;
    background-color: white;
    color: #000000;
    height: 100vh;
    width: 200px;
    text-align: center;
    top: 0;
    right: -200px;
    z-index: 2;
    transition: 0.5s;
  }
  nav .fa {
    display: block;
    color: black;
    margin: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 25px;
  }
  .row {
    flex-direction: column;
  }
}
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}
.facilities-col img:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}
.facilities-col {
  flex-basis: 24%;
  border-radius: 10px;
  margin-bottom: 5%;
}
.facilities-col img {
  width: 80%;
  border-radius: 10px;
  transition: 0.5s;
  aspect-ratio: 1;
}
.facilities-col p {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
}

.container {
  width: 92%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: #ff4d4d;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #ff4d4d;
}
.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box {
  min-height: 110px;
}
.right-side .input-box textarea {
  padding-top: 6px;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #ff4d4d;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover {
  background: #ff4d4d;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }
  .container .content {
    flex-direction: column-reverse;
  }
  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before {
    display: none;
  }
  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
.course-column p {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  margin-left: 0;
}
.course-column ul li {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  list-style-position: inside;
}
.hello {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 2%;
}
.connect {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}
.tech-res {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 4%;
}
.footer {
  padding-top: 2%;
  text-align: center;
}
@media(max-width:991px)
{
  section{
  height: 50%;
  background-position: center;
  }
  section .leftBox{
    width:100%;
    height: auto;
    float: none;
    padding: 20px;
  }
  section .events1{
    
    width: 100%;
    height: auto;
    background: transparent;
    float: none;
  }
  section .leftBox .content1{
    padding: 20px; 
  }
  section .leftBox .content1 h1{
    font-size: 30px;
  }
  section .events1 ul{
    position: relative;
    transform: translateY(0px);
    padding: 0 20px 20px;
  }
  section .events1 ul li{
    height: auto;
    background: rgb(212, 211, 211)
  }
  section .events1 ul li .time1{
    width: 80px;
    height: 80px;
    padding: 0;
  }
  section .events1 ul li .time1 h2{
    font-size: 30px;
    line-height: 24px;
  }
  section .events1 ul li .time1 h2 span{
    font-size: 20px;
  }
  section .events1 ul li .details1{
    width: 100%;
    float: none;
    padding-left: 100px;
    background: transparent;
  }
  section .events1 ul li .details1 a{
    padding: 5px,10px;
  }
}
section .fa a {
  padding: 20px;
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  
}
